<div class="row">
    <div class="col-md-9 gx-0">
        
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide><img height="400" src="assets/images/slider-image-1.jpeg" alt=""></ng-template>  
          <ng-template carouselSlide><img height="400" src="assets/images/slider-image-2.jpeg"></ng-template>  
          <ng-template carouselSlide><img height="400" src="assets/images/slider-image-3.jpeg"></ng-template>  
        </owl-carousel-o>

    </div>
    <div class="col-md-3">
        <img height="130" src="assets/images/grocery-banner.png">
        <img height="130" src="assets/images/grocery-banner-2.jpeg">

    </div>
</div>
